:root {
    --vermelho-principal:#df1515;
    --branco-secundario:azure;
    --branco-principal:white;
    --azul:aqua;
    --vermelho-secundario:#991111;
    --preto:black;
    --cinza:rgba(112, 133, 133, 0.637);
    }
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--preto);
}
header{
    color: var(--vermelho-principal);
    display:grid;
    grid-template-columns: 25% 75%;
    background-color: var(--cinza);
    text-shadow: 0px 0px 20px var(--preto);
    border-radius: 20px;
}
.cult{
    color: var(--branco-secundario);
}
.lamb{
    margin-right: 1000px;
    border-radius: 50px;
}
strong{
    color: var(--branco-principal);
}
nav a{
    text-decoration: none;
    color: var(--azul);
    text-shadow: 0px 0px 40px var(--azul);
}
.s1{
    display:grid;
    grid-template-columns: 32% 68%;
}
img{
    border-color: var(--vermelho-secundario);
    border: solid;
}
footer{
    margin-left: 650px;
}
.s2{
    display:grid;
    grid-template-columns: 34% 66%;
}